POSTGRES_DB = укажите имя базы данных
POSTGRES_USER = укажите пользователя
POSTGRES_PASSWORD = укажите пароль

DATABASE_NAME = укажите имя базы данных
DATABASE_USER = укажите пользователя
DATABASE_PASSWORD = укажите пароль
DATABASE_HOST = укажите хост (по умолчанию: localhost или 127.0.0.1)
DATABASE_PORT = укажите порт (по умолчанию: 5432)

TELEGRAM_BOT_TOKEN = укажите токен бота телеграмм
SECRET_KEY = секретный ключ

REDIS_URL = redis://redis:6379/0       # Для Docker используйте имя сервиса ('redis')
CELERY_BROKER_URL = redis://redis:6379/0
CELERY_RESULT_BACKEND = redis://redis:6379/0
CELERY_TIMEZONE = Europe/Moscow
DJANGO_SETTINGS_MODULE = config.settings

SITE_URL = http://localhost:8000       # Без слеша в конце
ADMIN_URL = http://127.0.0.1:8000/admin